{% extends "base.html" %}

{% block title %}{{ tag }} - {{ SITENAME }}{% endblock %}

{% block content %}

<section class="category-page article">
    <h2 class="section-title">🏷️ {{ tag }}</h2>
    <ul class="articles-list">
        {% for article in articles %}
            <li class="article-item">
                <time class="article-date">{{ article.date.strftime('%Y-%m-%d') }}</time>
                <a href="{{ SITEURL }}/{{ article.url }}" class="article-link">{{ article.title }}</a>
            </li>
        {% endfor %}
    </ul>
</section>
{% endblock %}
